<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> DETAILS </ion-title>
   
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="end">
  <ion-button [routerLink]="['/smallcar']">
    <ion-icon name="cart"></ion-icon>
  </ion-button>
</ion-buttons>

<div class="card-container">

  
    <ion-card-header class="header">
      <h1 class="title">{{det.title}}</h1>
    </ion-card-header>
    <img src="{{det.image}}" alt="" class="card-image"width="45%">
    
  
    <ion-card-content>
      <p class="price">{{det.price | currency}}</p>
      <h6>{{det.rating.rate}} <ion-icon name="star"></ion-icon></h6>

    </ion-card-content>
    <ion-button (click)="click()">djb</ion-button>
    <ion-button id="open-toast">Open Toast</ion-button>
<ion-toast trigger="open-toast" message="successful action! added product" [duration]="3000" icon="cart"></ion-toast>
  
</div>
