

  ion-icon {
    color: darkblue;
    size: 100%;
    
  }

  ion-title{
    padding: 1%;
      font-size: 18px;
      font-family: "Agbalumo", cursive;
      font-weight: 400;
      font-style: normal;
      color: darkblue;
      
  }

  

  