
ion-title{
  padding: 1%;
    font-size: 18px;
    font-family: "Agbalumo", cursive;
    font-weight: 400;
    font-style: normal;
    color: darkblue;
    
}

ion-button{
  color: darkblue;
  size: 100%;
}

ion-select{
  color: darkblue;
  font-size: 18px;
  font-family: "Agbalumo", cursive;
  font-weight: 400;

}




